<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Controlling George's lights.">

    <title>Control the lighting</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="{{ static_url('css/marketing.css')}}">
</head>
<body>


<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Set current colors</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form action="/dochange/" method="POST" class="pure-form pure-form-stacked">
                    <fieldset>
                        <input type="range" name="brightness" value="{{ brightness }}" min="0" max="100">
                        <button type="submit" class="apply pure-button apply">Apply</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Controls!</h4>
                <p>
                    More responsive controls here...
                </p>

            </div>
        </div>

    </div>


</div>






</body>
</html>
